<section class="card-button-wrapper">
<div class="card-button">empty cart</div>
<div class="card-button" id="discount-card">Discount</div>
<div class="card-button" id="remove-tax">remove tax</div>
 <div class="card-button" id="initiate-transaction">initiate transaction</div>
</section>  