<section class="cart-view">
 <table>
  <thead>
   <tr>
    <th>#</th>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    <th>remove</th>
   </tr>
  </thead>
  <tbody id="table-body">
   
  </tbody>
  <tfoot>
   <tr>
     <td></td>
     <td scope="">Total Cost</td>
     <td></td>
     <td></td>
     <td class="table-foot"></td>
   </tr>
  </tfoot>
 </table>
 </section>