<%- include('header.ejs') %>
<div class="container-fluid bg-warning p-2 text-white">
  <div class="container">
    <div class="row ">
      <div class="col-6">
        <h4 style="padding: 10px;">Expenses</h4>
      </div>
      <div class="col d-flex justify-content-space-around">
         <ul class="expense-top-props" style="list-style-type: none;">
           <li class="top-chart">chart</li>
           <li class="top-query">query</li>
           <li class="top-add">add expense</li>
         </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-2">
  <div class="row">
    <ul>
      <select name="range" id="range" class="form-control">
        <option value="today">Today</option>
        <option value="week">Week</option>
        <option value="month">Month</option>
      </select>
    </ul>
  </div>
</div>
<section id="adding-expense">
 <!-- add expenses -->
 <div class="container-fluid">
  <div class="row">
   <div class="col">
    <form id="expenses-form">
     <div class="form-group">
      <div class="form-group">
       <input type="text" class="form-control" id="expenseName" name="expenseName" placeholder="Enter expense name">
      </div>
      <div class="form-group">
       <input type="number" class="form-control" id="expenseAmount" name="expenseAmount" placeholder="Enter expense amount">
      </div>
      <!-- category -->
      <div class="form-group">
       <select name="category" style="height: 50px;" id="expenseCategory" class="form-control mt-1">
         <option value="food">Food</option>
         <option value="clothing">Clothing</option>
         <option value="transport">Transport</option>
         <option value="entertainment">Entertainment</option>
         <option value="education">Education</option>
         <option value="health">Health</option>
         <option value="other">Other</option>
       </select>
      </div>
      <div class="form-group">
       <input type="date" class="form-control" id="expenseDate" name="expenseDate" placeholder="Enter expense date">
      </div>
      <button type="button" id="expensebutton" class="btn btn-primary">Submit</button>
    </form>
      </div>
     </div>
    </div>
</section>
<section id="query-expense-section" class="d-none bg-white p-4" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <select name="categoryquery" tabindex="5" id="querycategoryupload" class="form-control">
          <option value="food">Food</option>
          <option value="clothing">Clothing</option>
          <option value="transport">Transport</option>
          <option value="entertainment">Entertainment</option>
          <option value="education">Education</option>
          <option value="health">Health</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="col-9">
        <input type="search" tabindex="6" name="query" id="queryexpesen" class="form-control" placeholder=" query using name of expense ">
      </div>
    </div>
  </div>
</section>
<section class="expense-list bg-white p-4 mt-3">
<table class="table" style="width: 100%;" id="expense-list-table">
  <thead>
    <tr>
      <th>Expense Name</th>
      <th>Expense Amount</th>
      <th>Expense Date</th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody id="expense-list-table-body">

  </tbody>
</table>
</section>
<section id="chart-section" class="d-none">
<div class="container-fluid mt-5">
  <div class="row" style="background-color: whitesmoke; margin: 0% 1.5%;display:grid ; grid-template-columns: 100%;">
    <canvas id="myChart" height="400px" style="background-color: white;padding: 20px;">

    </canvas>
    <canvas id="myMonthChart" style="background-color:white; margin-top: 20px;padding: 20px;" height="400px">

    </canvas>
  </div>
</div>
</section>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="/expense.js"></script>
