<section>
 <!-- add expenses -->
 <div class="container-fluid">
  <div class="row">
   <div class="col">
    <form id="expenses-form">
     <div class="form-group">
      <div class="form-group">
       <input type="text" class="form-control" id="expenseName" name="expenseName" placeholder="Enter expense name">
      </div>
      <div class="form-group">
       <input type="number" class="form-control" id="expenseAmount" name="expenseAmount" placeholder="Enter expense amount">
      </div>
      <div class="form-group">
       <input type="date" class="form-control" id="expenseDate" name="expenseDate" placeholder="Enter expense date">
      </div>
      <button type="button" class="btn btn-primary">Submit</button>
    </form>
      </div>
     </div>
    </div>
</section>
<script src="/expense.js"></script>