<%- include('header.ejs') %>
<link rel="stylesheet" href="/productstatistic.css">
<div class="container-fluid bg-warning p-4">
 <div class="container">
  <div class="row">
   <div class="col">
     product statistics
   </div>
  </div>
 </div>
</div>
<!-- split the main page into two -->
<div class="product-statistic">
 <div class="sidebar">
  <!-- search bar -->
  <div class="search-bar mb-2">
   <input type="text" class="form-control" id="searchstat" placeholder="Search">
  </div>
  <div class="stas-products">

  </div>
 </div>
 <div class="main">

 </div>
</div>

<script src="/productstatistic.js"></script>