<div class="container-fluid bg-warning p-4 text-white">
<div class="container">
  <div class="row">
  <div class="col">
    <h4>Sales chart</h4>
  </div>
</div>
</div>
</div>
<%- include('header.ejs') %>
<section id="section-sales">
  <div class="default-card">
   <div class="default-card-header">
     Today
   </div>
   <div class="default-card-body">
    <div class="currency">
     
    </div>
    <div class="sales-amount">
     
    </div>
   </div>
   <div class="default-card-body-hover">
    
   </div>
  </div>
  <!-- weekly -->
  <div class="default-card">
   <div class="default-card-header">
     Week
   </div>
   <div class="default-card-body">
    <div class="currency">
     
    </div>
    <div class="sales-amount">
     
    </div>
   </div>
   <div class="default-card-body-hover">

   </div>
  </div>
  <!-- monthly -->
  <div class="default-card">
   <div class="default-card-header">
     Month
   </div>
   <div class="default-card-body">
    <div class="currency">
    
    </div>
    <div class="sales-amount">
    
    </div>
   </div>
   <div class="default-card-body-hover">
    
   </div>
  </div>
  <!-- yearly -->
  <div class="default-card">
   <div class="default-card-header">
    Year
   </div>
   <div class="default-card-body">
       <div class="currency">
        
       </div>
       <div class="sales-amount">
       
       </div>
   </div>
   <div class="default-card-body-hover">
    
   </div>
</section>
  <section id="second-section-sales">
    <div class="header-chart">
      <select name="chart-select" id="chart-select" class="form-control">
        <option value="count">count</option>
        <option value="amount">amount</option>
      </select>
    </div>
    <div style="display: grid; grid-template-columns: 50% 50%; background-color: white;margin-bottom: 700px;">
      <div class="weekly-section" >
        <canvas id="weeklyChart" height="400px"width='400px'></canvas>
      </div>
      <div >
        <canvas id="monthlyChart" height="400px"width='400px'></canvas>
      </div>
    </div>
  </section>
  <section>
    <div class="container bg-white p-4">
      <canvas id="yearlyChart" height="400px" width="400px"></canvas>
    </div>
  </section>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="/sales.js"></script>