<%- include('header.ejs') %>
<section id="section-sales">
  <div class="default-card">
   <div class="default-card-header">
     Today
   </div>
   <div class="default-card-body">
    <div class="currency">
     
    </div>
    <div class="sales-amount">
     
    </div>
   </div>
   <div class="default-card-body-hover">
    
   </div>
  </div>
  <!-- weekly -->
  <div class="default-card">
   <div class="default-card-header">
     Week
   </div>
   <div class="default-card-body">
    <div class="currency">
     
    </div>
    <div class="sales-amount">
     
    </div>
   </div>
   <div class="default-card-body-hover">

   </div>
  </div>
  <!-- monthly -->
  <div class="default-card">
   <div class="default-card-header">
     Month
   </div>
   <div class="default-card-body">
    <div class="currency">
    
    </div>
    <div class="sales-amount">
    
    </div>
   </div>
   <div class="default-card-body-hover">
    
   </div>
  </div>
  <!-- yearly -->
  <div class="default-card">
   <div class="default-card-header">
    Year
   </div>
   <div class="default-card-body">
       <div class="currency">
        
       </div>
       <div class="sales-amount">
       
       </div>
   </div>
   <div class="default-card-body-hover">
    
   </div>
</section>
  <section id="second-section-sales">
    <div class="header-chart">
      <select name="chart-select" id="chart-select" class="form-control">
        <option value="count">count</option>
        <option value="amount">amount</option>
      </select>
    </div>
    <div class="weekly-section">
      <canvas id="weeklyChart" ></canvas>
      <canvas id="monthlyChart" ></canvas>
    </div>
  </section>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="/sales.js"></script>