<%- include('header.ejs') %>
<section id="section-sales">
  <div class="default-card">
   <div class="default-card-header">
     Today
   </div>
   <div class="default-card-body">
    <div class="currency">
     
    </div>
    <div class="sales-amount">
     
    </div>
   </div>
   <div class="default-card-body-hover">
    
   </div>
  </div>
  <!-- weekly -->
  <div class="default-card">
   <div class="default-card-header">
     Week
   </div>
   <div class="default-card-body">
    <div class="currency">
     
    </div>
    <div class="sales-amount">
     
    </div>
   </div>
   <div class="default-card-body-hover">

   </div>
  </div>
  <!-- monthly -->
  <div class="default-card">
   <div class="default-card-header">
     Month
   </div>
   <div class="default-card-body">
    <div class="currency">
    
    </div>
    <div class="sales-amount">
    
    </div>
   </div>
   <div class="default-card-body-hover">
    
   </div>
  </div>
  <!-- yearly -->
  <div class="default-card">
   <div class="default-card-header">
    Year
   </div>
   <div class="default-card-body">
       <div class="currency">
        
       </div>
       <div class="sales-amount">
       
       </div>
   </div>
   <div class="default-card-body-hover">
    
   </div>
</section>
<section>
 <canvas id="myChart" style="width:100%;max-width:700px;margin-left: 30px;"></canvas>
</section>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="/sales.js"></script>