<%- include('header.ejs') %>
<section>
 <div class="container-fluid">
  <div class="row">
   <div class="col">
    <div class="card" style="border-radius: 0px;margin: 0;">
     <div class="card-header">
      <h3>Sales</h3>
     </div>
     <div class="card-body">
      <div class="row">
       <div class="col">
        <div class="card">
         <div class="card-header">
          <h5>Today</h5>
         </div>
         <div class="card-body">
          <div class="row">
           <div class="col">
            <h5>Amount</h5>
            <h5>Quantity</h5>
           </div>
           <div class="col">
            <h5>0</h5>
            <h5>0</h5>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="col">
        <div class="card">
         <div class="card-header">
          <h5>This week</h5>
         </div>
         <div class="card-body">
          <div class="row">
           <div class="col">
            <h5>Amount</h5>
            <h5>Quantity</h5>
           </div>
           <div class="col">
            <h5>0</h5>
            <h5>0</h5>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="col">
        <div class="card">
         <div class="card-header">
          <h5>This month</h5>
         </div>
         <div class="card-body">
          <div class="row">
           <div class="col">
            <h5>Amount</h5>
            <h5>Quantity</h5>
           </div>
           <div class="col">
            <h5>0</h5>
            <h5>0</h5>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="col">
        <div class="card">
         <div class="card-header">
          <h5>This year</h5>
         </div>
         <div class="card-body">
          <div class="row">
           <div class="col">
            <h5>Amount</h5>
            <h5>Quantity</h5>
           </div>
           <div class="col">
            <h5>0</h5>
            <h5>0</h5>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>

</section>