<%- include('header.ejs') %> 
<div class="container-fluid bg-success p-4">
 <div class="container">
  <div class="row">
   <div class="col text-lead text-white text-capitalize">
     <h1>display product</h1>
   </div>
  </div>
 </div>
</div>
<!-- main cart -->
<div class="container-fluid" id="viewproduct-page">
 <div>
  <div id="header-cart-flow">
    <div>productname</div> 
    <div>quantity</div>
    <div>price</div>
  </div>
   <div id="cart" class="list-group-item-list">

   </div>
 </div>
  <div class="payment-structure">
  orporis odio, ipsbero perferendis, maiores nam dolores.
  </div>
</div>
<script src="./payment.js"></script>