<%- include('header.ejs') %> 
<div class="container-fluid bg-success p-1">
 <div class="container">
  <div class="row">
   <div class="col text-lead text-white text-capitalize">
     <h1>display product</h1>
   </div>
  </div>
 </div>
</div>
<!-- main cart -->

<div class="container-fluid" id="viewproduct-page">
 <div id="product-section-view">
  <div id="header-cart-flow">
    <div>image</div>
    <div>productname</div> 
    <div>quantity</div>
    <div>price</div>
    <div>total</div>
  </div>
   <div id="cart" class="list-group-item-list">

   </div>
 </div>
  <div class="payment-structure">
    <div class="payment-structure-header">
      <div >payment</div>
    </div>
    <div class="payment-structure-body">
      <div class="payment-structure-body-row">
        <div id="subtal-header">subtotal</div>
        <div id="subtotal"></div>
      </div>
      <div class="payment-structure-body-row">
        <div id="tax-header">tax</div>
        <div id="tax"></div>
      </div>
      <div class="payment-structure-body-row">
        <div id="discount-header">discount</div>
        <div id="discount"></div>
      </div>
      <div class="payment-structure-body-row">
        <div>total</div>
        <div id="total"></div>
        </div>
       </div>
       <!-- pay to -->
       <div class="payment-structure-body-row" id="crawl">
        <div>pay to</div>
        <div>
          <input type="text" id="payto" class="form-control" style='height:60px;margin-top: 20px;'>
        </div>
      </div>
      <div class="payment-structure-body-row" id="crawl">
        <div>payment mode</div>
        <div>
          <select class="form-control" id='paymentmethod' style="height:60px;margin-top: 20px;">
            <option value="mobile money">mobile money</option>
            <option value="cash">cash</option>
            <option value="bank transfer">bank transfer</option>
          </select>
        </div>
      </div>
       <!-- end of pay -->
      <div class="payment-structure-body-row" id="crawl">
        <div>Delivery Address</div>
        <div id="shipping"></div>
      </div>
      <div class="payment-structure-body-row" id="crawl">
        <div>Payment Amount</div>
        <div id="payment-field-holder"></div>
      </div>
      <div class="payment-structure-body-row" id="crawl">
      <button class="btn btn-outline-success btn-block mt-5" id="payment-button">pay</button>
      </div>
  </div>
</div>
<script src="./payment.js"></script>