<%- include('header.ejs') %>
<div class="container-fluid bg-warning p-4 ">
 <div class="container">
  <div class="row">
   <div class="col">
      <h4 style="color: #000f45; font-weight: 600; "> Suppliers</h4>
   </div>
  </div>
 </div>
</div>