body {
  margin: 0;
  padding: 0;
  /* font-family: roboto,'Times New Roman', Times, serif; */
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  color: black;
  overflow-x: hidden;
  background-color: #f5f7f8;
  font-family: 'Roboto', sans-serif;
}
.error-text {
  color: red;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input,
form textarea {
  width: 100%;
  height: 50px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='number']:valid {
  border: 1px solid green;
}

input[type='number']:invalid {
  border: 1px solid red;
}
input:invalid:focus {
  border: 1px solid red;
}

.by-body {
  background-color: whitesmoke !important;
}

.-main-grid {
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: 10px;
  margin-right: 5%;
  margin-left: 5%;
}

/* .main-product-section, */

.cart-view > table {
  width: 100%;
  background-color: white;
  display: none;
  padding: 10px;
}

.cart-view > table > thead > tr > th {
  text-align: left;
  color: black;
  padding: 10px;
  color: grey;
}

.cart-view > table > thead {
  background-color: whitesmoke;
  color: black;
}
.cart-view > table > thead > tr > th:nth-child(2) {
  width: 30%;
}
.cart-view > table > thead > tr > th:nth-child(3),
.cart-view > table > thead > tr > th:nth-child(4),
.cart-view > table > thead > tr > th:nth-child(5) {
  width: 20%;
}

.cart-view > table > thead > tr > th:nth-child(1) {
  width: 10%;
}
.cart-view > table > tbody > tr > td {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  color: grey;
  font-weight: 500;
  font-size: 15px;
}

.cart-view > table > tfoot {
  color: grey;
  font-weight: 500;
  font-size: 15px;
  padding-left: 20px;
}

form label {
  text-transform: capitalize;
}

.list-view-group {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-auto-columns: repeat(6, 1fr);
  margin-top: 10px;
  border-radius: 0px !important;
  height: 100vh;
}

.list-group {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 10% 10% 10% 10%;
  height: 40vh !important;
  border-radius: 0px !important;
}

.list-group-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#view-list-top {
  background-color: whitesmoke !important;
}

.resize-img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.resize-img:hover {
  height: 100%;
}

.resize-img:hover ~ .list-group-item {
  display: none;
}

#product-edit-button {
  position: relative;
  top: -500%;
  left: 0%;
  width: 50px;
  z-index: 1;
}

#no-product-found {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  width: 80vw;
  margin-top: 20px;
  color: black;
}

#productContainer {
  position: static;
  position: relative;
  top: 10px;
  left: 10px;
  width: 25vw;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: none;
  z-index: 9999;
  background-color: white;
  /* fix it */
  height: 20vh;
  overflow-y: scroll;
  font-weight: 400;
}
#productContainer > .list-group-item {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 0px;
}
#productContainer > .list-group-item:hover,
#productContainer > .list-group-item:active,
.active-list {
  background-color: whitesmoke;
  cursor: pointer;
}
.btn-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}
.img-product-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25vh;
  grid-gap: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
}

.product-container {
  margin-top: 20px;
}
.product-container > div:nth-of-type(2) {
  color: blue;
  font-size: 15px;
}
.stock-div {
  position: relative;
  top: 40px;
  left: 10px;
  background-color: yellow;
  color: black;
  width: 20%;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}
/* #table-body > tr > td {
 padding: 20px !important;
}
table > thead > tr > th {
   padding: 20px !important;
   color: white;
} */

#pos-search-top {
  display: grid;
  grid-template-columns: 60% 15% 10% 15%;
  grid-template-rows: 40px;
}

#pos-search-top > div:nth-of-type(1),
#pos-search-top > div:nth-of-type(2),
#pos-search-top > div:nth-of-type(3),
#pos-search-top > div:nth-of-type(4) {
  width: 100%;
}

.cart-top {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% auto;
}
.cart-top > .cart-cart-table {
  margin: 0;
  padding: 0;
}

svg:hover {
  cursor: pointer;
}

.card-button-wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px;
  grid-auto-rows: 100px;
}
.card-button-wrapper > .card-button {
  margin: 0;
  padding: 0;
  border: 1px solid white;
  text-align: center;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: white;
  background-color: black;
  align-items: center;
}

.taxes-table {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
.taxes-table > thead {
  background-color: black;
}

.taxes-table > thead > tr > th {
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding-left: 20px;
  text-transform: capitalize;
}

.taxes-table > tbody > tr > td {
  padding-left: 20px;
  border-bottom: 1px solid lightgray;
  color: green;
  font-weight: 500;
  font-size: 15px;
}

input[type='range'] {
  outline: none;
  width: 30px;
}

.cart-discount {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 100%;
  margin-top: 20px;
  display: none;
}

.cart-discount > label {
  text-align: left;
  font-size: 40px;
  color: black;
  font-weight: 300;
  text-transform: uppercase;
}

.cart-discount > input {
  text-align: right;
  font-size: 40px;
  color: blue !important;
  text-transform: uppercase;
  border-radius: 0px;
}

.cart-discount > input:invalid {
  border: 1px solid black !important;
}

.cart-discount > input::placeholder {
  color: grey;
  font-size: 14px !important;
  text-transform: capitalize;
}

#tax-table {
  /* display: none; */
  margin: 0;
  padding: 0;
}

#tax-table > #tax-list {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
}

#tax-table > #tax-list > .tax-name,
#tax-table > #tax-list > .tax-rate {
  text-align: left;
  color: black;
  font-weight: 500;
  color: grey;
  text-transform: capitalize;
  padding-top: 10px;
}

#tax-table > #tax-list > .tax-rate::after {
  content: ' GHC';
}

#tax-table > #tax-list > .tax-name {
  padding-left: 20px;
}

.card-button:focus,
.card-button:active,
.card-button:hover {
  outline: 1px solid white;
  cursor: pointer;
}

#product-section-view {
  border-top: 4px solid blue;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}

/* .payment-structure {
  background-color: white;
  border-top: 4px solid green;
  margin-top: 20px;
} */

#viewproduct-page {
  background-color: whitesmoke;
}

.payment-structure > .payment-structure-header {
  background-color: #198754;
  color: white;
  padding: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}

.payment-structure > .payment-structure-body > .payment-structure-body-row {
  padding-left: 10px;
}

#shipping,
#payment-field-holder {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

#crawl {
  padding: 20px;
}

.list-group-item-list > .list-group-item {
  display: grid;
  grid-template-columns: 20% 30% 10% 20% 20%;
  /* border: 1px solid lightgray; */
  padding: 10px;
  font-weight: 500;
  font-family: Roboto;
  color: black;
  font-size: 17px;
  border-bottom: 1px solid lightgray;
}

.list-group-item-list > .list-group-item > div:nth-of-type(1)::first-letter {
  text-transform: uppercase;
}

#header-cart-flow {
  color: black;
  display: grid;
  border-bottom: 1px solid lightgray;
  grid-template-columns: 20% 30% 10% 20% 20%;
}

#viewproduct-page {
  display: grid;
  grid-template-columns: 65% auto;
  grid-template-rows: 100%;
  grid-gap: 10px;
  padding-left: 20px;
}

#header-cart-flow > div {
  text-align: left;
  text-transform: capitalize;
  font-weight: 500;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.img-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.list-group-item-list > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  /* color: grey; */
  /* font-size: 15px; */
}

.list-group-item-list > .product::first-letter {
  text-transform: uppercase;
}

.payment-structure {
  padding: 0;
  margin: 0;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
}

.payment-structure > .payment-structure-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deliveryaddress {
  border: 2px solid#198754;
  height: 100px;
  color: grey;
  font-size: 15px;
}

.payment-structure-body {
  padding: 10px;
  color: grey;
}

.payment-structure-body > .payment-structure-body-row {
  display: grid;
  grid-template-columns: 80% auto;
  color: black;
  text-transform: capitalize;
}

.payment-structure-body > .payment-structure-body-row:nth-of-type(2) {
  display: grid;
  grid-template-columns: 100%;
}
.payment-structure-body > .payment-structure-body-row:nth-of-type(2) > div {
  color: black;
}

.payment-structure-body
  > .payment-structure-body-row:nth-of-type(2)
  > #tax
  > div {
  display: grid;
  grid-template-columns: 50% 30% auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.payment-field {
  height: 100px;
  border-radius: 0px !important;
  border: 1px solid green;
  outline: none;
  font-size: 40px;
}
/* #subtotal, */
/* #subtotal-header, */
.payment-field:focus,
.payment-field:active {
  outline: none !important;
  border: none;
  font-size: 40px;
}

#tax-header {
  color: darkblue;
}

.payment-structure-body-row > button {
  width: 50%;
  height: 50px;
}

#nwcustomerform input {
  border: 1px solid lightgray;
  height: 60px;
  font-size: 15px;
  padding-left: 10px;
  color: #00224f;
}

#nwcustomerform label {
  color: #00224f;
  padding: 10px 0px 0px 0px;
  font-size: 17px;
  text-transform: small-caps;
}

input:placeholder-shown,
input::placeholder {
  text-transform: capitalize;
  color: #00224f !important;
  font-weight: 600;
}

.icons-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-group > i {
  padding: 10px;
  cursor: pointer;
}
.table-active,
.bg-active {
  background-color: whitesmoke;
  border: 1px solid white;
  color: black !important;
  font-weight: 400;
  text-transform: capitalize;
}

#customers > thead > tr > th > span {
  color: black;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  top: -7px;
  left: 10px;
  cursor: pointer;
}

#customers {
  height: auto;
  background-color: white;
  padding: 20px;
}

#customers > thead > tr > th > a {
  cursor: pointer;
}

#customers > thead > tr > th > a:active,
#customers > thead > tr > th > a:hover {
  color: #00224f;
}

/* #caret-down {
  position: relative;
  top: 0px;
  left: 90%;
} */

#customers > thead > tr > th {
  border-left: 1px solid lightgray;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
}

#customers > thead > tr > th:nth-of-type(1) {
  border-left: 0px;
}

@media screen and (max-width: 480px) {
  .cart-view {
    display: grid;
    grid-template-columns: 100% !important;
  }

  #viewproduct-page {
    display: grid;
    grid-template-columns: 100% !important;
    grid-template-rows: 50% auto;
    grid-gap: 10px;
    margin: 0;
    padding: 0;
  }

  #viewproduct-page > #product-section-view {
    border-top: 0px;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border-top: none !important;
    background-color: white;
  }

  #viewproduct-page > #product-section-view > #header-cart-flow {
    border-top: 0px;
    margin: 0;
    padding: 0;
    border-top: none !important;
    display: none;
  }
  #product-section-view > #cart {
    border-top: 0px;
    margin: 0;
    padding: 0;
    border-top: none !important;
    background-color: white;
  }
  #cart > .list-group-item {
    border: 0px;
    margin: 0;
    padding: 0;
    border: none !important;
    background-color: white;
    display: grid;
    grid-template-columns: 30% 30% 10% 10% 10%;
  }
  #cart > .list-group-item > div:nth-of-type(1) {
    position: relative;
    top: -30%;
    left: 00%;
    color: #00224f;
    font-weight: 400;
    font-size: 17px;
    text-transform: lowercase !important;
  }
  #cart > .list-group-item > div:nth-of-type(2)::before {
    content: 'price: ';
    font-size: 15px;
    color: #00224f;
    font-weight: 500;
    text-transform: capitalize;
  }

  #cart > .list-group-item > :nth-of-type(2) {
    position: relative;
    top: 20px;
    left: -300%;
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
  }

  #cart > .list-group-item > :nth-of-type(3) {
    position: relative;
    top: -30%;
    left: 0%;
  }
  #cart > .list-group-item > div:nth-of-type(3)::before {
    content: 'qty: ';
    font-size: 15px;
    color: #00224f;
    font-weight: 500;
    text-transform: capitalize;
  }

  #cart > .list-group-item > img {
    width: 90px;
    height: 90px;
  }
  #cart > .list-group-item {
    border: 1px solid lightgray !important;
    padding: 5px;
    margin: 2%;
    border-radius: 5px;
    font-weight: 300;
    /* box-shadow: #00224f 0px 0px 1px; */
  }
  #cart > .list-group-item > :nth-of-type(4) {
    position: relative;
    top: 20px;
    color: #0473f1;
    left: -200%;
  }
  #cart > .list-group-item > :nth-of-type(4)::before {
    content: 'total: ';
    font-size: 15px;
    color: #00224f;
    font-weight: 500;
    text-transform: capitalize;
  }
  #cart > .list-group-item > :nth-of-type(4)::after {
    content: ' GHC';
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
  }

  #tax {
    padding: 0;
  }

  #tax > div {
    display: grid;
    grid-template-columns: 40% 30% auto;
  }

  #crawl > button {
    width: 100%;
  }
}

.check-out-header {
  display: grid;
  grid-template-columns: 100%;
  background-color: #0473f1;
  padding: 20px;
}

.check-out-header > .check-symbol {
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
}

@media screen and (max-width: 480px) {
  .body-stock {
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    overflow: none;
    background-color: #00224f17;
  }
  .body-stock > #headerwrap {
    color: black;
    font-weight: 600;
  }
  #form-area-parent {
    height: 80vh;
  }

  #form-area-parent .form-group {
    border: none;
    border-radius: 10px;
    background-color: white;
    height: 20vh;
    padding: 10px;
    margin-top: 10px;
  }

  #form-area-parent .form-group:nth-of-type(1) > input {
    text-align: left;
    padding-left: 40px;
  }

  #form-area-parent .form-group:nth-of-type(1) {
    height: auto;
  }

  #form-area-parent .form-group:nth-of-type(1) > label {
    margin-left: -20px;
  }

  #form-area-parent .form-group:nth-of-type(1) > svg {
    position: relative;
    top: 42px;
    left: 10px;
    color: grey;
  }

  .productlist {
    height: 40vh !important;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .productlist > .list-group-item-item > img {
    width: 50px !important;
    height: 50px !important;
    margin-right: 20px;
  }

  /* #form-area-parent  .form-group:nth-of-type(1) > svg:hover,
  #form-area-parent  .form-group:nth-of-type(1) > svg:focus,
  #form-area-parent  .form-group:nth-of-type(1) > svg:active {
    color: #00224f;
    display: none;
  } */

  #form-area-parent .form-group > label {
    color: #00224f;
    font-size: 15px;
  }
  #form-area-parent .form-group:nth-of-type(3) {
    border-radius: none;
    background-color: inherit;
  }
  #form-area-parent .form-group:nth-of-type(3) > button {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .body-stock {
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    overflow: none;
    background-color: #00224f17;
  }
  .body-stock > #headerwrap {
    color: black;
    font-weight: 600;
  }
  #form-area-parent {
    height: 80vh;
  }

  #form-area-parent .form-group {
    border: none;
    border-radius: 10px;
    background-color: white;
    height: 20vh;
    padding: 10px;
    margin-top: 10px;
  }

  #form-area-parent .form-group:nth-of-type(1) > input {
    text-align: left;
    padding-left: 40px;
  }

  #form-area-parent .form-group:nth-of-type(1) {
    height: auto;
  }

  #form-area-parent .form-group:nth-of-type(1) > label {
    margin-left: -20px;
  }

  #form-area-parent .form-group:nth-of-type(1) > svg {
    position: relative;
    top: 42px;
    left: 10px;
    color: grey;
  }

  .productlist {
    height: 40vh !important;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .productlist > .list-group-item-item > img {
    width: 50px !important;
    height: 50px !important;
    margin-right: 20px;
  }

  /* #form-area-parent  .form-group:nth-of-type(1) > svg:hover,
  #form-area-parent  .form-group:nth-of-type(1) > svg:focus,
  #form-area-parent  .form-group:nth-of-type(1) > svg:active {
    color: #00224f;
    display: none;
  } */

  #form-area-parent .form-group > label {
    color: #00224f;
    font-size: 15px;
  }
  #form-area-parent .form-group:nth-of-type(3) {
    border-radius: none;
    background-color: inherit;
  }
  #form-area-parent .form-group:nth-of-type(3) > button {
    width: 100%;
  }

 
}

@media screen and (min-width: 480px) {
  #form-area-parent form {
    display: grid;
    grid-template-columns: 40% 40% auto;
    grid-gap: 20px;
  }

  /* #form-area-parent form > .form-group:nth-of-type(3) > button {
    margin-top: 30px;
    height: 40px;
    width: 120px;
    color: white;
    text-transform: capitalize;
  }
  #form-area-parent label {
    color: #00224f;
  }

  #form-area-parent input {
    border-radius: 0px !important;
    height: 40px;
  }

  #form-area-parent input:focus {
    outline: none !important;
    border: 0px !important;
  } */
}

#productsearchedhere {
  /* display: none; */
}
.productlist {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: #00224f 0px 3px 4px;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.productlist > .list-group-item-item {
  border: 0px;
  margin: 0;
  padding: 5px;
  color: #00224f;
  border-bottom: 1px solid lightgray !important;
}

.productlist > .list-group-item-item::first-letter {
  text-transform: capitalize;
}

.productlist > .list-group-item-item:hover,
.productlist > .list-group-item-item:focus,
.productlist > .list-group-item-item:active,
.productlist-active {
  background-color: #00224f17;
  color: #00224f;
  cursor: pointer;
}

#productsearchedhere .productlist {
  border-radius: 0%;
  border: none;
  box-shadow: none;
}

#productsearchedhere .productlist > .list-group-item-item {
  font-size: 15px;
}

.paytobodylist{
  border: none;margin-top: 20px;
}
.paytobodylist > .paytolist {
  border-bottom: 1px solid lightblue;
  font-size: 14px;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 0px;
  margin-top: 1.5px;
  cursor: pointer;
}

/* makes a side bar  */
#transactions-split {
  display: grid;
  grid-template-columns: 15% 85%;
  width: 100vw;
  height: 100vh;
}


#transactions-split > .sidebar-transactions {
  margin: 0px;
  padding: 0px;
  background-color:whitesmoke;
  outline-color: invert;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid lightgray;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

.sidebar-transactions > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


.sidebar-transactions > ul > li {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  text-align: left;
  padding-left: 30px;
  font-size: 18px;
  color: #00224f;
}


.sidebar-transactions > ul > li > a::first-letter {
  text-transform:uppercase;
}


.sidebar-transactions > ul > li > a{
  text-decoration: none !important;
  color: #00224f;
  margin-right: 60px !important;
}


.sidebar-transactions > ul > li > svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.header-top-transactions {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: 
  #FFC107;
  height: 50px;
  display: grid;
  grid-template-columns: 15% 85%;
}

.header-top-transactions > .menu {
  margin-left: 10%;
  color: white;
}

.header-top-transactions > .menu > svg {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}
.header-top-transactions > .sid {
  margin-left: 0%;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
